{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block body %}
<form method="POST">
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <l1 class="list-group list-group-flush" id="notes">
            {{ note.data }}
            <button type="button" class="close" onclick="deleteNote({{ note.id|safe }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </l1>
    {% endfor %}
</ul>

    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add Note </button>
    </div>
</form>
{% endblock %}